POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# Notion enviroment variables

NOTION_DATABASE_ID= #Cohorts 
NOTION_STD_DATABASE_ID= #Students DB 
NOTION_CANCELLATIONS_DATABASE_ID= #Canceled Mentoring Sessions 
NOTION_TOKEN= 

# Webhooks de Zapier
ZAPIER_MOCK_INTERVIEW_WEBHOOK_URL=
ZAPIER_CANCELLATION_WEBHOOK_URL=