# Notion enviroment variables

NOTION_TOKEN= 
NOTION_DATABASE_ID= #Cohorts DB
NOTION_STD_DATABASE_ID= #Students DB 
NOTION_CANCELLATIONS_DATABASE_ID= #Canceled Mentoring Sessions 
NOTION_NPS_DATABASE_ID= #Nps DB
NOTION_MENTORS_DATABASE_ID= #Mentors DB

# Webhooks de Zapier
ZAPIER_MOCK_INTERVIEW_WEBHOOK_URL=
ZAPIER_CANCELLATION_WEBHOOK_URL=

#Breathcode 

BREATHCODE_API_URL=
